Repository truvami/helm: changes, and which pre-commit hooks are due for each by the changed paths.
All: helm-lint, chart-version-check, values-schema-check

.pre-commit-config.yaml:

# Pre-commit configuration for Helm charts
# Install with: pip install pre-commit && pre-commit install

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
        exclude: ^charts/.+/templates/
      - id: check-merge-conflict
      - id: check-added-large-files

  - repo: https://github.com/norwoodj/helm-docs
    rev: v1.11.3
    hooks:
      - id: helm-docs
        args:
          - --chart-search-root=charts

  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.0.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [feat, fix, docs, style, refactor, perf, test, build, ci, chore, revert]

  - repo: local
    hooks:
      - id: helm-lint
        name: Helm Lint
        entry: scripts/hooks/helm-lint.sh
        language: script
        files: charts/.*\.(yaml|yml|tpl)$
        pass_filenames: false

      - id: chart-version-check
        name: Chart Version Check
        entry: scripts/hooks/version-check.sh
        language: script
        files: charts/.*/Chart\.yaml$

      - id: values-schema-check
        name: Values Schema Check
        entry: scripts/hooks/values-check.sh
        language: script
        files: charts/.*/values\.yaml$

refactor: remove logs sections from service dashboards and delete uplinks pricing dashboard
  dashboards/lib/truvami.libsonnet
  dashboards/src/device-quality-dashboard.jsonnet
  dashboards/src/service-truvami-api.jsonnet
  dashboards/src/service-truvami-bridge.jsonnet
  dashboards/src/service-truvami-gateway.jsonnet
  dashboards/src/service-truvami-siren.jsonnet
  dashboards/src/uplinks-pricing-dashboard.jsonnet
Due: none

fix: update truvami-monitoring chart version to 0.1.92 and enable signal quality alerts
  charts/truvami-monitoring/Chart.yaml
  charts/truvami-monitoring/README.md
  charts/truvami-monitoring/templates/rule-gateway-signal-quality.yaml
  charts/truvami-monitoring/values.yaml
  charts/truvami-stack/Chart.yaml
  charts/truvami-stack/README.md
Due: helm-lint, chart-version-check, values-schema-check

chore(release): update changelog for v1.0.1-rc22
  CHANGELOG.md
Due: none

Update index.yaml
  index.yaml
Due: none

feat: update truvami-monitoring chart to version 0.2.0 with enhanced AlertManager configurations and new example setups
  charts/truvami-monitoring/Chart.yaml
  charts/truvami-monitoring/README.md
  charts/truvami-monitoring/examples/alertmanager-examples.yaml
  charts/truvami-monitoring/templates/alertmanager-config.yaml
  charts/truvami-monitoring/templates/alertmanager-secrets.yaml
  charts/truvami-monitoring/values.yaml
Due: helm-lint, chart-version-check, values-schema-check

chore(release): update changelog for v1.0.1-rc23
  CHANGELOG.md
Due: none

chore: update services
  charts/truvami-api/Chart.yaml
  charts/truvami-bridge/Chart.yaml
  charts/truvami-decoder/Chart.yaml
  charts/truvami-siren/Chart.yaml
  charts/truvami-stack/Chart.yaml
Due: helm-lint, chart-version-check

fix: truvami-monitoring version
  charts/truvami-stack/Chart.yaml
Due: helm-lint, chart-version-check

feat: update Valkey deployment
  charts/truvami-api/templates/deployment.yaml
  charts/truvami-api/values.yaml
  charts/truvami-siren/templates/statefulset.yaml
  charts/truvami-siren/values.yaml
Due: helm-lint, values-schema-check

chore: rebuild helm
  charts/truvami-stack/Chart.lock
  charts/truvami-stack/charts/truvami-bridge-0.1.35.tgz
  charts/truvami-stack/charts/truvami-decoder-0.0.20.tgz
  charts/truvami-stack/charts/truvami-siren-0.2.7.tgz
Due: none

docs: updated docs
  charts/truvami-api/README.md
  charts/truvami-bridge/README.md
  charts/truvami-decoder/README.md
  charts/truvami-siren/README.md
  charts/truvami-stack/README.md
Due: none

chore(release): update changelog for v1.0.1-rc24
  CHANGELOG.md
Due: none

refactor: use redis instead of valkey dashboard
  charts/truvami-monitoring/dashboards/redis.json
  charts/truvami-monitoring/dashboards/valkey.json
Due: none

chore: bump chart versions for truvami-monitoring and truvami-stack to 0.2.1 and 0.1.224 respectively
  charts/truvami-monitoring/Chart.yaml
  charts/truvami-monitoring/README.md
  charts/truvami-stack/Chart.lock
  charts/truvami-stack/Chart.yaml
  charts/truvami-stack/README.md
  charts/truvami-stack/charts/valkey-3.0.9.tgz
Due: helm-lint, chart-version-check

feat: added new alerts
  charts/truvami-monitoring/Chart.yaml
  charts/truvami-monitoring/README.md
  charts/truvami-monitoring/dashboards/kafka-exporter.json
  charts/truvami-monitoring/dashboards/position-estimates.json
  charts/truvami-monitoring/dashboards/positions.json
  charts/truvami-monitoring/dashboards/troubleshooting.json
  charts/truvami-monitoring/templates/rule-device-health.yaml
  charts/truvami-monitoring/values.yaml
  charts/truvami-stack/Chart.yaml
  charts/truvami-stack/README.md
Due: helm-lint, chart-version-check, values-schema-check

chore(release): update changelog for v1.0.1-rc25
  CHANGELOG.md
Due: none

chore: bump truvami-monitoring and truvami-stack chart versions to 0.2.3
  charts/truvami-monitoring/Chart.yaml
  charts/truvami-monitoring/README.md
  charts/truvami-stack/Chart.yaml
  charts/truvami-stack/README.md
Due: helm-lint, chart-version-check

fix: update repository paths to local file references and correct monitoring version
  charts/truvami-monitoring/Chart.yaml
  charts/truvami-monitoring/README.md
  charts/truvami-stack/Chart.lock
  charts/truvami-stack/Chart.yaml
  charts/truvami-stack/README.md
Due: helm-lint, chart-version-check

chore(release): update changelog for v1.0.1-rc27
  CHANGELOG.md
Due: none

feat: added migrateTimeout to `api`
  charts/truvami-api/values.yaml
Due: helm-lint, values-schema-check

chore: bump versions
  charts/truvami-api/Chart.yaml
  charts/truvami-stack/Chart.lock
  charts/truvami-stack/Chart.yaml
Due: helm-lint, chart-version-check

docs: ran `helm-docs`
  charts/truvami-api/README.md
  charts/truvami-bridge/README.md
  charts/truvami-dashboard/README.md
  charts/truvami-decoder/README.md
  charts/truvami-docs/README.md
  charts/truvami-gateway/README.md
  charts/truvami-monitoring/README.md
  charts/truvami-siren/README.md
  charts/truvami-stack/README.md
Due: none

docs: used v1.14.2 to generate docs
  charts/truvami-api/README.md
  charts/truvami-bridge/README.md
  charts/truvami-dashboard/README.md
  charts/truvami-decoder/README.md
  charts/truvami-docs/README.md
  charts/truvami-gateway/README.md
  charts/truvami-monitoring/README.md
  charts/truvami-siren/README.md
  charts/truvami-stack/README.md
Due: none

fix: improve formatting of alert descriptions to show values with two decimal places
  charts/truvami-monitoring/templates/rule-gateway-signal-quality.yaml
  charts/truvami-monitoring/templates/rule-go-runtime-metrics.yaml
  charts/truvami-monitoring/templates/rule-siren-alert-processing.yaml
  charts/truvami-monitoring/templates/rule-valkey-cluster.yaml
Due: helm-lint

fix: use new Traxmate counters
  charts/truvami-monitoring/Chart.yaml
  charts/truvami-monitoring/dashboards/traxmate.json
  charts/truvami-stack/Chart.lock
  charts/truvami-stack/Chart.yaml
Due: helm-lint, chart-version-check

docs: run helm-docs
  charts/truvami-monitoring/README.md
  charts/truvami-stack/README.md
Due: none

fix: remove hardcoded dimensions for diagram generation
  .github/workflows/ci.yml
Due: none

fix: remove diagram optimization step from CI workflow
  .github/workflows/ci.yml
Due: none

feat: add git-cliff for changelog generation and automate changelog updates
  .github/workflows/release.yml
Due: none

feat: Add Gateway API support across multiple charts
  charts/truvami-api/README.md
  charts/truvami-api/README.md.gotmpl
  charts/truvami-api/templates/httproute.yaml
  charts/truvami-api/values.yaml
  charts/truvami-bridge/README.md
  charts/truvami-bridge/README.md.gotmpl
  charts/truvami-bridge/templates/httproute.yaml
  charts/truvami-bridge/values.yaml
  charts/truvami-dashboard/README.md
  charts/truvami-dashboard/README.md.gotmpl
  charts/truvami-dashboard/templates/httproute.yaml
  charts/truvami-dashboard/values.yaml
  charts/truvami-decoder/README.md
  charts/truvami-decoder/README.md.gotmpl
  charts/truvami-decoder/templates/httproute.yaml
  charts/truvami-decoder/values.yaml
  charts/truvami-docs/README.md
  charts/truvami-docs/README.md.gotmpl
  charts/truvami-gateway/README.md
  charts/truvami-gateway/README.md.gotmpl
  charts/truvami-gateway/templates/httproute.yaml
  charts/truvami-gateway/values.yaml
  charts/truvami-siren/README.md
  charts/truvami-siren/README.md.gotmpl
  charts/truvami-siren/templates/httproute.yaml
  charts/truvami-siren/values.yaml
Due: helm-lint, values-schema-check

added whatsapp values
  charts/truvami-siren/templates/statefulset.yaml
  charts/truvami-siren/values.yaml
Due: helm-lint, values-schema-check

docs(charts): update generated READMEs
  charts/truvami-siren/README.md
Due: none

siren whatsapp env
  charts/truvami-siren/templates/statefulset.yaml
Due: helm-lint

fix: add missing public url
  charts/truvami-docs/templates/secret.yaml
Due: helm-lint

chore: bump version
  charts/truvami-docs/Chart.yaml
  charts/truvami-docs/README.md
Due: helm-lint, chart-version-check

ci: fix Make targets
  Makefile
Due: none
