Repository truvami/helm: changes, and which pre-commit hooks are due for each by the changed paths.
All: helm-lint, chart-version-check, values-schema-check

helm-lint:
  name: Helm Lint
  entry: scripts/hooks/helm-lint.sh
  language: script
  pass_filenames: false

chart-version-check:
  name: Chart Version Check
  entry: scripts/hooks/version-check.sh
  language: script

values-schema-check:
  name: Values Schema Check
  entry: scripts/hooks/values-check.sh
  language: script

ci: update go version
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

chore: bump truvami-docs version to 0.1.6
  charts/truvami-docs/Chart.yaml
  charts/truvami-docs/README.md
  charts/truvami-stack/Chart.yaml
  charts/truvami-stack/README.md
Due: helm-lint, chart-version-check

Update index.yaml
  index.yaml
Due: none

docs: update CHANGELOG.md [skip ci]
  CHANGELOG.md
Due: none

chore: bump truvami-docs version to 0.1.7 and add ServiceMonitor configuration
  charts/truvami-docs/Chart.yaml
  charts/truvami-docs/README.md
  charts/truvami-docs/templates/service.yaml
  charts/truvami-docs/templates/servicemonitor.yaml
  charts/truvami-docs/values.yaml
  charts/truvami-stack/Chart.yaml
  charts/truvami-stack/README.md
Due: helm-lint, chart-version-check, values-schema-check

feat: add truvami-stream Helm chart
  charts/truvami-stream/.helmignore
  charts/truvami-stream/Chart.yaml
  charts/truvami-stream/templates/NOTES.txt
  charts/truvami-stream/templates/_helpers.tpl
  charts/truvami-stream/templates/configmap.yaml
  charts/truvami-stream/templates/deployment.yaml
  charts/truvami-stream/templates/hpa.yaml
  charts/truvami-stream/templates/httproute.yaml
  charts/truvami-stream/templates/ingress.yaml
  charts/truvami-stream/templates/networkpolicy.yaml
  charts/truvami-stream/templates/service.yaml
  charts/truvami-stream/templates/serviceaccount.yaml
  charts/truvami-stream/templates/servicemonitor.yaml
  charts/truvami-stream/templates/tests/test-connection.yaml
  charts/truvami-stream/values.yaml
Due: helm-lint, chart-version-check, values-schema-check

chore: add README
  charts/truvami-stream/README.md
Due: none

refactor: address review comments
  charts/truvami-stream/README.md
  charts/truvami-stream/templates/NOTES.txt
  charts/truvami-stream/templates/configmap.yaml
  charts/truvami-stream/templates/deployment.yaml
  charts/truvami-stream/templates/httproute.yaml
  charts/truvami-stream/templates/ingress.yaml
  charts/truvami-stream/templates/servicemonitor.yaml
  charts/truvami-stream/templates/tests/test-connection.yaml
  charts/truvami-stream/values.yaml
Due: helm-lint, values-schema-check

chore: address review
  charts/truvami-stream/README.md
  charts/truvami-stream/templates/httproute.yaml
  charts/truvami-stream/templates/servicemonitor.yaml
  charts/truvami-stream/values.yaml
Due: helm-lint, values-schema-check

feat: add new seedbox chart
  CHANGELOG.md
  charts/truvami-seedbox/.helmignore
  charts/truvami-seedbox/Chart.yaml
  charts/truvami-seedbox/templates/NOTES.txt
  charts/truvami-seedbox/templates/_helpers.tpl
  charts/truvami-seedbox/templates/configmap.yaml
  charts/truvami-seedbox/templates/deployment.yaml
  charts/truvami-seedbox/templates/hpa.yaml
  charts/truvami-seedbox/templates/networkpolicy.yaml
  charts/truvami-seedbox/templates/service.yaml
  charts/truvami-seedbox/templates/serviceaccount.yaml
  charts/truvami-seedbox/templates/servicemonitor.yaml
  charts/truvami-seedbox/templates/tests/test-connection.yaml
  charts/truvami-seedbox/values.yaml
Due: helm-lint, chart-version-check, values-schema-check

feat: add metrics and mcp server support
  charts/truvami-docs/README.md
  charts/truvami-docs/templates/deployment.yaml
  charts/truvami-docs/templates/secret.yaml
  charts/truvami-docs/templates/service.yaml
  charts/truvami-docs/templates/servicemonitor.yaml
  charts/truvami-docs/values.yaml
  charts/truvami-seedbox/README.md
Due: helm-lint, values-schema-check

feat: add metrics and mcp server support
  charts/truvami-docs/Chart.yaml
  charts/truvami-docs/README.md
Due: helm-lint, chart-version-check

feat: add metrics and mcp server support
  charts/truvami-stack/Chart.yaml
  charts/truvami-stack/README.md
Due: helm-lint, chart-version-check

feat(siren): simplify topic config with list-based values
  charts/truvami-siren/Chart.yaml
  charts/truvami-siren/README.md
  charts/truvami-siren/templates/configmap.yaml
  charts/truvami-siren/templates/kafka-user.yaml
  charts/truvami-siren/values.yaml
  charts/truvami-stack/Chart.lock
  charts/truvami-stack/Chart.yaml
  charts/truvami-stack/README.md
Due: helm-lint, chart-version-check, values-schema-check

feat(siren): add parallel retry runtime support
  charts/truvami-siren/templates/configmap.yaml
  charts/truvami-siren/templates/kafka-user.yaml
  charts/truvami-siren/templates/statefulset.yaml
  charts/truvami-siren/tests/statefulset_test.yaml
  charts/truvami-siren/values.yaml
Due: helm-lint, values-schema-check

docs(siren): document retry instance configuration
  charts/truvami-siren/README.md
Due: none

docs(charts): update generated READMEs
  charts/truvami-siren/README.md
Due: none

fix(charts): correct environment key and dedupe siren container spec
  charts/truvami-bridge/templates/deployment.yaml
  charts/truvami-siren/templates/_helpers.tpl
  charts/truvami-siren/templates/statefulset.yaml
Due: helm-lint

feat: add jwks to gateway
  charts/truvami-gateway/Chart.yaml
  charts/truvami-gateway/README.md
  charts/truvami-gateway/templates/deployment.yaml
  charts/truvami-gateway/values.yaml
  charts/truvami-stack/Chart.yaml
  charts/truvami-stack/README.md
Due: helm-lint, chart-version-check, values-schema-check

feat(stream): add rate limit configuration to values
  charts/truvami-stream/Chart.yaml
  charts/truvami-stream/README.md
  charts/truvami-stream/values.yaml
Due: helm-lint, chart-version-check, values-schema-check

feat(siren): `--alerts-mode` flag to pod-0
  charts/truvami-siren/Chart.yaml
  charts/truvami-siren/README.md
  charts/truvami-siren/templates/configmap.yaml
  charts/truvami-siren/values.yaml
  charts/truvami-stack/Chart.yaml
  charts/truvami-stack/README.md
Due: helm-lint, chart-version-check, values-schema-check

feat: update Go version to 1.26 in release workflow
  .github/workflows/release.yml
Due: none

Path conditions:
  helm-lint: any of: charts/.*\.(yaml|yml|tpl)$
  chart-version-check: any of: charts/.*/Chart\.yaml$
  values-schema-check: any of: charts/.*/values\.yaml$
