Repository truvami/helm: changes, and which pre-commit hooks are due for each by the changed paths.
All: helm-lint, chart-version-check, values-schema-check

.pre-commit-config.yaml:

# Pre-commit configuration for Helm charts
# Install with: pip install pre-commit && pre-commit install

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
        exclude: ^charts/.+/templates/
      - id: check-merge-conflict
      - id: check-added-large-files

  - repo: https://github.com/norwoodj/helm-docs
    rev: v1.11.3
    hooks:
      - id: helm-docs
        args:
          - --chart-search-root=charts

  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.0.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [feat, fix, docs, style, refactor, perf, test, build, ci, chore, revert]

  - repo: local
    hooks:
      - id: helm-lint
        name: Helm Lint
        entry: scripts/hooks/helm-lint.sh
        language: script
        files: charts/.*\.(yaml|yml|tpl)$
        pass_filenames: false

      - id: chart-version-check
        name: Chart Version Check
        entry: scripts/hooks/version-check.sh
        language: script
        files: charts/.*/Chart\.yaml$

      - id: values-schema-check
        name: Values Schema Check
        entry: scripts/hooks/values-check.sh
        language: script
        files: charts/.*/values\.yaml$

Update index.yaml
  index.yaml
Due: none

docs: update CHANGELOG.md [skip ci]
  CHANGELOG.md
Due: none

fix(truvami-monitoring)!: make Alertmanager optional and default it off
  charts/truvami-monitoring/Chart.yaml
  charts/truvami-monitoring/README.md
  charts/truvami-monitoring/templates/alertmanager-config.yaml
  charts/truvami-monitoring/templates/alertmanager-service.yaml
  charts/truvami-monitoring/templates/prometheus.yaml
  charts/truvami-monitoring/values.yaml
Due: helm-lint, chart-version-check, values-schema-check

fix(truvami-monitoring): preserve explicit empty alertmanagerConfigSelector
  charts/truvami-monitoring/README.md
  charts/truvami-monitoring/templates/prometheus.yaml
  charts/truvami-monitoring/values.yaml
Due: helm-lint, values-schema-check

feat(truvami-pulse): add helm chart for pulse campaign execution service
  README.md
  charts/truvami-pulse/.helmignore
  charts/truvami-pulse/Chart.yaml
  charts/truvami-pulse/README.md
  charts/truvami-pulse/templates/NOTES.txt
  charts/truvami-pulse/templates/_helpers.tpl
  charts/truvami-pulse/templates/configmap.yaml
  charts/truvami-pulse/templates/deployment.yaml
  charts/truvami-pulse/templates/hpa.yaml
  charts/truvami-pulse/templates/ingress.yaml
  charts/truvami-pulse/templates/networkpolicy.yaml
  charts/truvami-pulse/templates/pdb.yaml
  charts/truvami-pulse/templates/service.yaml
  charts/truvami-pulse/templates/serviceaccount.yaml
  charts/truvami-pulse/templates/servicemonitor.yaml
  charts/truvami-pulse/values.schema.json
  charts/truvami-pulse/values.yaml
Due: helm-lint, chart-version-check, values-schema-check

fix(truvami-pulse): address review feedback on chart guardrails
  charts/truvami-pulse/README.md
  charts/truvami-pulse/templates/_helpers.tpl
  charts/truvami-pulse/templates/deployment.yaml
  charts/truvami-pulse/templates/networkpolicy.yaml
  charts/truvami-pulse/templates/pdb.yaml
  charts/truvami-pulse/templates/servicemonitor.yaml
  charts/truvami-pulse/values.yaml
Due: helm-lint, values-schema-check

fix(locksmith): allow trusted ThingPark hosts
  charts/truvami-locksmith/README.md
  charts/truvami-locksmith/values.yaml
Due: helm-lint, values-schema-check

fix(locksmith): configure ThingPark host allowlist
  charts/truvami-locksmith/README.md
  charts/truvami-locksmith/SECURITY.md
  charts/truvami-locksmith/values.yaml
Due: helm-lint, values-schema-check

docs(charts): update generated READMEs
  charts/truvami-stack/README.md
Due: none

feat(locksmith): secure downlink credential deployment
  charts/truvami-locksmith/Chart.yaml
  charts/truvami-locksmith/README.md
  charts/truvami-locksmith/SECURITY.md
  charts/truvami-locksmith/templates/deployment.yaml
  charts/truvami-locksmith/templates/networkpolicy.yaml
  charts/truvami-locksmith/values.yaml
  charts/truvami-stack/Chart.lock
  charts/truvami-stack/Chart.yaml
Due: helm-lint, chart-version-check, values-schema-check

fix(locksmith): allow custom ThingPark hosts
  charts/truvami-locksmith/README.md
  charts/truvami-locksmith/SECURITY.md
  charts/truvami-locksmith/values.yaml
Due: helm-lint, values-schema-check

chore(truvami-stack): bump chart version to 0.1.258
  charts/truvami-stack/Chart.yaml
  charts/truvami-stack/README.md
Due: helm-lint, chart-version-check

fix(locksmith): bump chart to 0.0.3 to republish after failed release
  charts/truvami-locksmith/Chart.yaml
  charts/truvami-locksmith/README.md
  charts/truvami-stack/Chart.lock
  charts/truvami-stack/Chart.yaml
  charts/truvami-stack/README.md
Due: helm-lint, chart-version-check

feat: new env vars
  charts/truvami-api/Chart.yaml
  charts/truvami-api/README.md
  charts/truvami-api/templates/deployment.yaml
  charts/truvami-stack/Chart.lock
  charts/truvami-stack/Chart.yaml
  charts/truvami-stack/README.md
Due: helm-lint, chart-version-check

chore: bump chart versions to 0.1.45 for truvami-bridge and 0.1.261 for truvami-stack
  charts/truvami-bridge/Chart.yaml
  charts/truvami-bridge/README.md
  charts/truvami-bridge/templates/kafka-user.yaml
  charts/truvami-stack/Chart.yaml
  charts/truvami-stack/README.md
Due: helm-lint, chart-version-check

fix(truvami-seedbox): use batterystatus producer weight key
  charts/truvami-seedbox/Chart.yaml
  charts/truvami-seedbox/README.md
  charts/truvami-seedbox/values.yaml
Due: helm-lint, chart-version-check, values-schema-check

feat(truvami-seedbox): manage customer maps ConfigMap in chart
  charts/truvami-seedbox/Chart.yaml
  charts/truvami-seedbox/README.md
  charts/truvami-seedbox/demo-maps/2e94c528-3af3-4cc4-b05f-0995a84ef911/a.csv
  charts/truvami-seedbox/demo-maps/2e94c528-3af3-4cc4-b05f-0995a84ef911/b.csv
  charts/truvami-seedbox/demo-maps/2e94c528-3af3-4cc4-b05f-0995a84ef911/c.csv
  charts/truvami-seedbox/demo-maps/2e94c528-3af3-4cc4-b05f-0995a84ef911/d.csv
  charts/truvami-seedbox/demo-maps/2e94c528-3af3-4cc4-b05f-0995a84ef911/e.csv
  charts/truvami-seedbox/demo-maps/2e94c528-3af3-4cc4-b05f-0995a84ef911/f.csv
  charts/truvami-seedbox/demo-maps/2e94c528-3af3-4cc4-b05f-0995a84ef911/g.csv
  charts/truvami-seedbox/demo-maps/2e94c528-3af3-4cc4-b05f-0995a84ef911/h.csv
  charts/truvami-seedbox/demo-maps/2e94c528-3af3-4cc4-b05f-0995a84ef911/i.csv
  charts/truvami-seedbox/demo-maps/2e94c528-3af3-4cc4-b05f-0995a84ef911/j.csv
  charts/truvami-seedbox/demo-maps/2e94c528-3af3-4cc4-b05f-0995a84ef911/preset.yaml
  charts/truvami-seedbox/templates/_helpers.tpl
  charts/truvami-seedbox/templates/deployment.yaml
  charts/truvami-seedbox/templates/maps-configmap.yaml
  charts/truvami-seedbox/values.yaml
Due: helm-lint, chart-version-check, values-schema-check

docs(seedbox): drop batterystatus comment parenthetical
  charts/truvami-seedbox/README.md
  charts/truvami-seedbox/values.yaml
Due: helm-lint, values-schema-check

fix(seedbox): use batteryStatus weight key in chart defaults
  charts/truvami-seedbox/README.md
  charts/truvami-seedbox/values.yaml
Due: helm-lint, values-schema-check

fix(seedbox): read maps config from seedbox.producer.maps
  charts/truvami-seedbox/Chart.yaml
  charts/truvami-seedbox/templates/_helpers.tpl
  charts/truvami-seedbox/templates/deployment.yaml
  charts/truvami-seedbox/templates/maps-configmap.yaml
Due: helm-lint, chart-version-check

docs(charts): update generated READMEs
  charts/truvami-seedbox/README.md
Due: none

fix(seedbox): address CodeRabbit review on maps helpers
  charts/truvami-seedbox/templates/_helpers.tpl
  charts/truvami-seedbox/templates/deployment.yaml
Due: helm-lint

fix(seedbox): restore maps deployment contract
  charts/truvami-seedbox/Chart.yaml
  charts/truvami-seedbox/README.md
  charts/truvami-seedbox/demo-maps/2e94c528-3af3-4cc4-b05f-0995a84ef911/a.csv
  charts/truvami-seedbox/demo-maps/2e94c528-3af3-4cc4-b05f-0995a84ef911/b.csv
  charts/truvami-seedbox/demo-maps/2e94c528-3af3-4cc4-b05f-0995a84ef911/c.csv
  charts/truvami-seedbox/demo-maps/2e94c528-3af3-4cc4-b05f-0995a84ef911/d.csv
  charts/truvami-seedbox/demo-maps/2e94c528-3af3-4cc4-b05f-0995a84ef911/e.csv
  charts/truvami-seedbox/demo-maps/2e94c528-3af3-4cc4-b05f-0995a84ef911/f.csv
  charts/truvami-seedbox/demo-maps/2e94c528-3af3-4cc4-b05f-0995a84ef911/g.csv
  charts/truvami-seedbox/demo-maps/2e94c528-3af3-4cc4-b05f-0995a84ef911/h.csv
  charts/truvami-seedbox/demo-maps/2e94c528-3af3-4cc4-b05f-0995a84ef911/i.csv
  charts/truvami-seedbox/demo-maps/2e94c528-3af3-4cc4-b05f-0995a84ef911/j.csv
  charts/truvami-seedbox/demo-maps/2e94c528-3af3-4cc4-b05f-0995a84ef911/preset.yaml
  charts/truvami-seedbox/templates/_helpers.tpl
  charts/truvami-seedbox/templates/deployment.yaml
  charts/truvami-seedbox/templates/maps-configmap.yaml
  charts/truvami-seedbox/values.yaml
  scripts/test-seedbox-maps.sh
Due: helm-lint, chart-version-check, values-schema-check

feat(seedbox): add Valkey persistence wiring to chart 0.4.0
  charts/truvami-seedbox/Chart.yaml
  charts/truvami-seedbox/README.md
  charts/truvami-seedbox/templates/deployment.yaml
  charts/truvami-seedbox/templates/networkpolicy.yaml
  charts/truvami-seedbox/values.yaml
Due: helm-lint, chart-version-check, values-schema-check
