Repository truvami/helm: changes, and which pre-commit hooks are due for each by the changed paths.
All: helm-lint, chart-version-check, values-schema-check

.pre-commit-config.yaml:

# Pre-commit configuration for Helm charts
# Install with: pip install pre-commit && pre-commit install

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
        exclude: ^charts/.+/templates/
      - id: check-merge-conflict
      - id: check-added-large-files

  - repo: https://github.com/norwoodj/helm-docs
    rev: v1.11.3
    hooks:
      - id: helm-docs
        args:
          - --chart-search-root=charts

  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.0.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [feat, fix, docs, style, refactor, perf, test, build, ci, chore, revert]

  - repo: local
    hooks:
      - id: helm-lint
        name: Helm Lint
        entry: scripts/hooks/helm-lint.sh
        language: script
        files: charts/.*\.(yaml|yml|tpl)$
        pass_filenames: false

      - id: chart-version-check
        name: Chart Version Check
        entry: scripts/hooks/version-check.sh
        language: script
        files: charts/.*/Chart\.yaml$

      - id: values-schema-check
        name: Values Schema Check
        entry: scripts/hooks/values-check.sh
        language: script
        files: charts/.*/values\.yaml$

feat: bump chart versions for truvami-siren and truvami-stack to 0.4.1 and 0.1.238 respectively
  charts/truvami-siren/Chart.yaml
  charts/truvami-siren/README.md
  charts/truvami-stack/Chart.yaml
  charts/truvami-stack/README.md
Due: helm-lint, chart-version-check

Update index.yaml
  index.yaml
Due: none

docs: update CHANGELOG.md [skip ci]
  CHANGELOG.md
Due: none

feat: bump truvami-siren version to 0.4.2 and update Kafka user permissions
  charts/truvami-siren/Chart.yaml
  charts/truvami-siren/README.md
  charts/truvami-siren/templates/kafka-user.yaml
  charts/truvami-siren/values.yaml
  charts/truvami-stack/Chart.yaml
  charts/truvami-stack/README.md
Due: helm-lint, chart-version-check, values-schema-check

feat: add gateway.unauthorized Kafka topic to truvami-gateway chart
  charts/truvami-gateway/Chart.yaml
  charts/truvami-gateway/README.md
  charts/truvami-gateway/templates/kafka-user.yaml
  charts/truvami-gateway/values.yaml
  charts/truvami-stack/Chart.lock
  charts/truvami-stack/Chart.yaml
  charts/truvami-stack/README.md
Due: helm-lint, chart-version-check, values-schema-check

feat: add truvami-coverage Helm chart
  charts/truvami-coverage/.helmignore
  charts/truvami-coverage/Chart.yaml
  charts/truvami-coverage/templates/_helpers.tpl
  charts/truvami-coverage/templates/configmap.yaml
  charts/truvami-coverage/templates/cronjob-challenge.yaml
  charts/truvami-coverage/templates/cronjob-coverage.yaml
  charts/truvami-coverage/templates/deployment.yaml
  charts/truvami-coverage/templates/hpa.yaml
  charts/truvami-coverage/templates/ingress.yaml
  charts/truvami-coverage/templates/pdb.yaml
  charts/truvami-coverage/templates/service.yaml
  charts/truvami-coverage/templates/serviceaccount.yaml
  charts/truvami-coverage/templates/servicemonitor.yaml
  charts/truvami-coverage/values.yaml
Due: helm-lint, chart-version-check, values-schema-check

fix: correct tile-server image name and bump appVersion to v0.4.0
  charts/truvami-coverage/Chart.yaml
  charts/truvami-coverage/values.yaml
Due: helm-lint, chart-version-check, values-schema-check

docs: generate README for truvami-coverage chart
  charts/truvami-coverage/README.md
Due: none

fix: add competition.enabled flag to tiler TOML config
  charts/truvami-coverage/Chart.yaml
  charts/truvami-coverage/README.md
  charts/truvami-coverage/templates/configmap.yaml
Due: helm-lint, chart-version-check

feat: add bridge.unauthorized Kafka topic to truvami-bridge chart
  charts/truvami-bridge/Chart.yaml
  charts/truvami-bridge/README.md
  charts/truvami-bridge/templates/kafka-user.yaml
  charts/truvami-bridge/values.yaml
  charts/truvami-stack/Chart.yaml
  charts/truvami-stack/README.md
Due: helm-lint, chart-version-check, values-schema-check

feat: use devices list for participants
  charts/truvami-coverage/Chart.yaml
  charts/truvami-coverage/README.md
  charts/truvami-coverage/templates/configmap.yaml
  charts/truvami-coverage/values.yaml
Due: helm-lint, chart-version-check, values-schema-check

feat: add locksmith env vars to gateway
  charts/truvami-gateway/Chart.yaml
  charts/truvami-gateway/README.md
  charts/truvami-gateway/templates/deployment.yaml
  charts/truvami-gateway/values.yaml
  charts/truvami-stack/Chart.lock
  charts/truvami-stack/Chart.yaml
  charts/truvami-stack/README.md
Due: helm-lint, chart-version-check, values-schema-check

feat(truvami-gateway): auto-derive jwks location and wire legacy labels env var
  charts/truvami-gateway/Chart.yaml
  charts/truvami-gateway/README.md
  charts/truvami-gateway/templates/configmap.yaml
  charts/truvami-gateway/templates/deployment.yaml
  charts/truvami-gateway/values.yaml
  charts/truvami-stack/Chart.lock
  charts/truvami-stack/Chart.yaml
  charts/truvami-stack/README.md
Due: helm-lint, chart-version-check, values-schema-check

feat: add thanos for long-term metrics
  charts/truvami-monitoring/Chart.yaml
  charts/truvami-monitoring/README.md
  charts/truvami-monitoring/templates/_helpers.tpl
  charts/truvami-monitoring/templates/prometheus.yaml
  charts/truvami-monitoring/templates/thanos-compactor.yaml
  charts/truvami-monitoring/templates/thanos-objstore-secret.yaml
  charts/truvami-monitoring/templates/thanos-querier.yaml
  charts/truvami-monitoring/templates/thanos-store-gateway.yaml
  charts/truvami-monitoring/values.yaml
Due: helm-lint, chart-version-check, values-schema-check

chore: bump truvami-monitoring version to 0.3.1 in Chart.yaml and Chart.lock
  charts/truvami-monitoring/Chart.yaml
  charts/truvami-monitoring/README.md
  charts/truvami-stack/Chart.lock
  charts/truvami-stack/Chart.yaml
  charts/truvami-stack/README.md
Due: helm-lint, chart-version-check

feat(bridge): extend config with solver, idle, locksmith and valkey settings
  charts/truvami-bridge/Chart.yaml
  charts/truvami-bridge/README.md
  charts/truvami-bridge/templates/deployment.yaml
  charts/truvami-bridge/values.yaml
  charts/truvami-stack/Chart.lock
  charts/truvami-stack/Chart.yaml
  charts/truvami-stack/README.md
Due: helm-lint, chart-version-check, values-schema-check

feat(bridge): add HERE_APIKEY env from secret for HERE WiFi solver
  charts/truvami-bridge/Chart.yaml
  charts/truvami-bridge/README.md
  charts/truvami-bridge/templates/deployment.yaml
  charts/truvami-stack/Chart.lock
  charts/truvami-stack/Chart.yaml
  charts/truvami-stack/README.md
Due: helm-lint, chart-version-check
