Repository truvami/helm: changes, and which pre-commit hooks are due for each by the changed paths.
All: helm-lint, chart-version-check, values-schema-check

.pre-commit-config.yaml:

# Pre-commit configuration for Helm charts
# Install with: pip install pre-commit && pre-commit install

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--allow-multiple-documents]
        exclude: ^charts/.+/templates/
      - id: check-merge-conflict
      - id: check-added-large-files

  - repo: https://github.com/norwoodj/helm-docs
    rev: v1.11.3
    hooks:
      - id: helm-docs
        args:
          - --chart-search-root=charts

  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.0.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [feat, fix, docs, style, refactor, perf, test, build, ci, chore, revert]

  - repo: local
    hooks:
      - id: helm-lint
        name: Helm Lint
        entry: scripts/hooks/helm-lint.sh
        language: script
        files: charts/.*\.(yaml|yml|tpl)$
        pass_filenames: false

      - id: chart-version-check
        name: Chart Version Check
        entry: scripts/hooks/version-check.sh
        language: script
        files: charts/.*/Chart\.yaml$

      - id: values-schema-check
        name: Values Schema Check
        entry: scripts/hooks/values-check.sh
        language: script
        files: charts/.*/values\.yaml$

docs(charts): update generated READMEs
  charts/truvami-seedbox/README.md
Due: none

Update index.yaml
  index.yaml
Due: none

docs: update CHANGELOG.md [skip ci]
  CHANGELOG.md
Due: none

feat(seedbox): configure realistic telemetry cadence
  charts/truvami-seedbox/Chart.yaml
  charts/truvami-seedbox/README.md
  charts/truvami-seedbox/values.yaml
Due: helm-lint, chart-version-check, values-schema-check

feat(seedbox): configure realistic telemetry cadence (#78)
  charts/truvami-seedbox/Chart.yaml
  charts/truvami-seedbox/README.md
  charts/truvami-seedbox/values.yaml
  diagrams/truvami-seedbox.png
  diagrams/truvami-seedbox.previous.png
Due: helm-lint, chart-version-check, values-schema-check

feat(seedbox): add backfill cursor config to chart 0.6.0
  charts/truvami-seedbox/Chart.yaml
  charts/truvami-seedbox/values.yaml
Due: helm-lint, chart-version-check, values-schema-check

feat(seedbox): expose interval jitter and position noise in chart 0.7.0
  charts/truvami-seedbox/Chart.yaml
  charts/truvami-seedbox/values.yaml
Due: helm-lint, chart-version-check, values-schema-check

feat(seedbox): expose routeStepMeters in chart 0.8.0
  charts/truvami-seedbox/Chart.yaml
  charts/truvami-seedbox/values.yaml
Due: helm-lint, chart-version-check, values-schema-check

fix(seedbox): expose randomizeBetweenWaypoints in chart 0.8.0
  charts/truvami-seedbox/values.yaml
Due: helm-lint, values-schema-check

feat(seedbox): expose environmental telemetry settings
  charts/truvami-seedbox/Chart.yaml
  charts/truvami-seedbox/README.md
  charts/truvami-seedbox/values.yaml
Due: helm-lint, chart-version-check, values-schema-check

chore(truvami-pulse): bump appVersion to v0.2.0-rc3
  charts/truvami-pulse/Chart.yaml
  charts/truvami-pulse/README.md
Due: helm-lint, chart-version-check

feat(api): update truvami-api chart version to 0.0.36 and add almanac settings
  charts/truvami-api/Chart.yaml
  charts/truvami-api/README.md
  charts/truvami-api/templates/deployment.yaml
  charts/truvami-api/tests/configmap_test.yaml
  charts/truvami-api/tests/deployment_test.yaml
  charts/truvami-api/values.yaml
  charts/truvami-stack/Chart.lock
  charts/truvami-stack/Chart.yaml
  charts/truvami-stack/README.md
Due: helm-lint, chart-version-check, values-schema-check
