Repository truvami/helm: changes, and which pre-commit hooks are due for each by the changed paths.
All: helm-lint, chart-version-check, values-schema-check

helm-lint:
  name: Helm Lint
  entry: scripts/hooks/helm-lint.sh
  language: script
  pass_filenames: false

chart-version-check:
  name: Chart Version Check
  entry: scripts/hooks/version-check.sh
  language: script

values-schema-check:
  name: Values Schema Check
  entry: scripts/hooks/values-check.sh
  language: script

feat(ci): update CI workflows to install kube-score and helm-docs with versioning
  .github/workflows/ci.yml
  .github/workflows/release.yml
  Makefile
Due: none

feat(ci): specify kube-score version in CI workflow installation
  .github/workflows/ci.yml
Due: none

chore(charts): bump truvami-monitoring version to 0.1.82 and update truvami-stack version to 0.1.200
  charts/truvami-monitoring/Chart.yaml
  charts/truvami-monitoring/README.md
  charts/truvami-stack/Chart.yaml
  charts/truvami-stack/README.md
Due: helm-lint, chart-version-check

fix(release): correct regex for version format validation and update error message
  scripts/release.sh
Due: none

chore(release): update changelog for v1.0.0-rc1
  CHANGELOG.md
Due: none

Update index.yaml
  index.yaml
Due: none

feat(release): integrate conventional commits with helm chart releaser
  .github/workflows/release.yml
  Makefile
  charts/truvami-monitoring/dashboards/kafka.json
  charts/truvami-monitoring/dashboards/monitoring.json
  charts/truvami-monitoring/dashboards/truvami-device.json
Due: none

chore(charts): bump truvami-monitoring version to 0.1.83 and update truvami-stack version to 0.1.201
  charts/truvami-monitoring/Chart.yaml
  charts/truvami-monitoring/README.md
  charts/truvami-stack/Chart.yaml
  charts/truvami-stack/README.md
Due: helm-lint, chart-version-check

chore(release): update changelog for v1.0.0-rc2
  CHANGELOG.md
Due: none

feat(dashboard): add service dashboard for truvami-siren
  dashboards/src/service-truvami-siren.jsonnet
Due: none

chore(charts): bump truvami-monitoring version to 0.1.84 and update truvami-stack version to 0.1.202
  charts/truvami-monitoring/Chart.yaml
  charts/truvami-monitoring/README.md
  charts/truvami-stack/Chart.yaml
  charts/truvami-stack/README.md
Due: helm-lint, chart-version-check

chore(release): update changelog for v1.0.1-rc3
  CHANGELOG.md
Due: none

feat(dashboards): enhance device dashboard with comprehensive monitoring and fix panel issues
  dashboards/lib/truvami.libsonnet
  dashboards/src/devices-dashboard.jsonnet
  dashboards/src/service-truvami-api.jsonnet
  dashboards/src/service-truvami-bridge.jsonnet
  dashboards/src/service-truvami-gateway.jsonnet
  dashboards/src/service-truvami-siren.jsonnet
Due: none

chore(charts): bump truvami-monitoring version to 0.1.85 and update truvami-stack version to 0.1.203
  charts/truvami-monitoring/Chart.yaml
  charts/truvami-monitoring/README.md
  charts/truvami-stack/Chart.yaml
  charts/truvami-stack/README.md
Due: helm-lint, chart-version-check

chore(release): update changelog for v1.0.1-rc4
  CHANGELOG.md
Due: none

feat(truvami-gateway): added support for service monitor
  charts/truvami-gateway/Chart.yaml
  charts/truvami-gateway/README.md
  charts/truvami-gateway/templates/servicemonitor.yaml
  charts/truvami-gateway/values.yaml
  charts/truvami-stack/Chart.yaml
  charts/truvami-stack/README.md
Due: helm-lint, chart-version-check, values-schema-check

chore(release): update changelog for v1.0.1-rc5
  CHANGELOG.md
Due: none

chore(charts): bump versions for truvami-api to 0.0.28, truvami-gateway to 0.0.30, and truvami-stack to 0.1.205; add network policy and migration resources
  charts/truvami-api/Chart.yaml
  charts/truvami-api/README.md
  charts/truvami-api/templates/migration.yaml
  charts/truvami-api/templates/networkpolicy.yaml
  charts/truvami-api/values.yaml
  charts/truvami-gateway/Chart.yaml
  charts/truvami-gateway/README.md
  charts/truvami-gateway/templates/service.yaml
  charts/truvami-stack/Chart.yaml
  charts/truvami-stack/README.md
Due: helm-lint, chart-version-check, values-schema-check

chore(release): update changelog for v1.0.1-rc6
  CHANGELOG.md
Due: none

feat(truvami-api): add migration network policy and update migration job labels
  charts/truvami-api/templates/migration.yaml
  charts/truvami-api/templates/networkpolicy-migration.yaml
Due: helm-lint

feat(truvami-gateway): update gateway monitoring panels to reflect LoRaWAN metrics
  dashboards/src/service-truvami-gateway.jsonnet
Due: none

chore(charts): bump versions for truvami-api to 0.0.29, truvami-monitoring to 0.1.86, and truvami-stack to 0.1.206
  charts/truvami-api/Chart.yaml
  charts/truvami-api/README.md
  charts/truvami-monitoring/Chart.yaml
  charts/truvami-monitoring/README.md
  charts/truvami-stack/Chart.yaml
  charts/truvami-stack/README.md
Due: helm-lint, chart-version-check

chore(release): update changelog for v1.0.1-rc7
  CHANGELOG.md
Due: none

feat(dashboards): add uplinks pricing dashboard with comprehensive metrics and visualizations
  dashboards/src/truvami-overview.jsonnet
  dashboards/src/uplinks-pricing-dashboard.jsonnet
Due: none

chore(charts): bump truvami-monitoring version to 0.1.87 and update truvami-stack version to 0.1.207
  charts/truvami-monitoring/Chart.yaml
  charts/truvami-monitoring/README.md
  charts/truvami-stack/Chart.yaml
  charts/truvami-stack/README.md
Due: helm-lint, chart-version-check

chore(release): update changelog for v1.0.1-rc8
  CHANGELOG.md
Due: none

feat: add truvami-docs chart
  charts/truvami-docs/.helmignore
  charts/truvami-docs/Chart.yaml
  charts/truvami-docs/templates/NOTES.txt
  charts/truvami-docs/templates/_helpers.tpl
  charts/truvami-docs/templates/deployment.yaml
  charts/truvami-docs/templates/hpa.yaml
  charts/truvami-docs/templates/httproute.yaml
  charts/truvami-docs/templates/ingress.yaml
  charts/truvami-docs/templates/migration.yaml
  charts/truvami-docs/templates/postgres.yaml
  charts/truvami-docs/templates/secret.yaml
  charts/truvami-docs/templates/service.yaml
  charts/truvami-docs/templates/serviceaccount.yaml
  charts/truvami-docs/templates/tests/test-connection.yaml
  charts/truvami-docs/values.yaml
  charts/truvami-stack/Chart.yaml
Due: helm-lint, chart-version-check, values-schema-check

chore(release): update changelog for v1.0.1-rc9
  CHANGELOG.md
Due: none

feat(prometheus): add enableRemoteWriteReceiver option to values.yaml
  charts/truvami-docs/README.md
  charts/truvami-monitoring/README.md
  charts/truvami-monitoring/templates/prometheus.yaml
  charts/truvami-monitoring/values.yaml
  charts/truvami-stack/README.md
Due: helm-lint, values-schema-check

chore(charts): bump truvami-monitoring version to 0.1.88 and update truvami-stack version to 0.1.209
  charts/truvami-monitoring/Chart.yaml
  charts/truvami-monitoring/README.md
  charts/truvami-stack/Chart.yaml
  charts/truvami-stack/README.md
Due: helm-lint, chart-version-check

chore(release): update changelog for v1.0.1-rc10
  CHANGELOG.md
Due: none

Path conditions:
  helm-lint: any of: charts/.*\.(yaml|yml|tpl)$
  chart-version-check: any of: charts/.*/Chart\.yaml$
  values-schema-check: any of: charts/.*/values\.yaml$
