Repository truvami/helm: changes, and which pre-commit hooks are due for each by the changed paths.
All: helm-lint, chart-version-check, values-schema-check

helm-lint:
  name: Helm Lint
  entry: scripts/hooks/helm-lint.sh
  language: script
  pass_filenames: false

chart-version-check:
  name: Chart Version Check
  entry: scripts/hooks/version-check.sh
  language: script

values-schema-check:
  name: Values Schema Check
  entry: scripts/hooks/values-check.sh
  language: script

chore: bump truvami-dashboard version to 1.0.7 and update appVersion to v2.8.0-rc13; add OpenTelemetry configuration to values.yaml and reference configMap in deployment and migration templates
  charts/truvami-dashboard/Chart.yaml
  charts/truvami-dashboard/README.md
  charts/truvami-dashboard/templates/configmap.yaml
  charts/truvami-dashboard/templates/deployment.yaml
  charts/truvami-dashboard/templates/migration.yaml
  charts/truvami-dashboard/values.yaml
  charts/truvami-stack/Chart.yaml
  charts/truvami-stack/README.md
Due: helm-lint, chart-version-check, values-schema-check

chore(release): update changelog for v1.0.1-rc11
  CHANGELOG.md
Due: none

Update index.yaml
  index.yaml
Due: none

feat: added logs panel to service dashboards
  charts/truvami-monitoring/Chart.yaml
  charts/truvami-monitoring/README.md
  charts/truvami-stack/Chart.yaml
  charts/truvami-stack/README.md
  dashboards/lib/truvami.libsonnet
  dashboards/src/service-truvami-api.jsonnet
  dashboards/src/service-truvami-bridge.jsonnet
  dashboards/src/service-truvami-gateway.jsonnet
  dashboards/src/service-truvami-siren.jsonnet
Due: helm-lint, chart-version-check

feat: add PostgreSQL connection pooler configuration and update related templates
  charts/truvami-api/README.md
  charts/truvami-api/templates/deployment.yaml
  charts/truvami-api/templates/migration.yaml
  charts/truvami-api/values.yaml
  charts/truvami-dashboard/README.md
  charts/truvami-dashboard/templates/deployment.yaml
  charts/truvami-dashboard/templates/migration.yaml
  charts/truvami-dashboard/templates/postgres-pooler.yaml
  charts/truvami-dashboard/values.yaml
  charts/truvami-docs/README.md
  charts/truvami-docs/templates/deployment.yaml
  charts/truvami-docs/templates/migration.yaml
  charts/truvami-docs/templates/postgres-pooler.yaml
  charts/truvami-docs/values.yaml
  charts/truvami-stack/Chart.lock
  charts/truvami-stack/README.md
  charts/truvami-stack/charts/truvami-api-0.0.27.tgz
  charts/truvami-stack/charts/truvami-bridge-0.1.35.tgz
  charts/truvami-stack/charts/truvami-dashboard-1.0.6.tgz
  charts/truvami-stack/charts/truvami-decoder-0.0.20.tgz
  charts/truvami-stack/charts/truvami-gateway-0.0.28.tgz
  charts/truvami-stack/charts/truvami-monitoring-0.1.80.tgz
  charts/truvami-stack/charts/truvami-siren-0.2.7.tgz
  charts/truvami-stack/templates/postgres-pooler.yaml
  charts/truvami-stack/values.yaml
Due: helm-lint, values-schema-check

chore: bump chart versions for truvami-api, truvami-dashboard, truvami-docs, and truvami-stack
  charts/truvami-api/Chart.yaml
  charts/truvami-api/README.md
  charts/truvami-dashboard/Chart.yaml
  charts/truvami-dashboard/README.md
  charts/truvami-docs/Chart.yaml
  charts/truvami-docs/README.md
  charts/truvami-stack/Chart.yaml
  charts/truvami-stack/README.md
Due: helm-lint, chart-version-check

chore(release): update changelog for v1.0.1-rc12
  CHANGELOG.md
Due: none

chore: update chart versions and PostgreSQL image references for truvami applications
  charts/truvami-dashboard/Chart.yaml
  charts/truvami-dashboard/README.md
  charts/truvami-dashboard/values.yaml
  charts/truvami-docs/Chart.yaml
  charts/truvami-docs/README.md
  charts/truvami-docs/values.yaml
  charts/truvami-stack/Chart.yaml
  charts/truvami-stack/README.md
  charts/truvami-stack/values.yaml
Due: helm-lint, chart-version-check, values-schema-check

chore(release): update changelog for v1.0.1-rc13
  CHANGELOG.md
Due: none

chore: update PostgreSQL image references and version in Chart.yaml and values.yaml
  charts/truvami-stack/Chart.yaml
  charts/truvami-stack/README.md
  charts/truvami-stack/values.yaml
Due: helm-lint, chart-version-check, values-schema-check

feat(dashboard): add new quality dashboard (first draft)
  dashboards/src/device-quality-dashboard.jsonnet
Due: none

feat(alerts): enhance alert configuration and monitoring rules for various services
  charts/truvami-monitoring/Chart.yaml
  charts/truvami-monitoring/README.md
  charts/truvami-monitoring/templates/_helpers.tpl
  charts/truvami-monitoring/templates/rule-api-alerts.yaml
  charts/truvami-monitoring/templates/rule-deployment-versions.yaml
  charts/truvami-monitoring/templates/rule-device-battery-alerts.yaml
  charts/truvami-monitoring/templates/rule-device-duty-cycle.yaml
  charts/truvami-monitoring/templates/rule-service-health.yaml
  charts/truvami-monitoring/values.yaml
Due: helm-lint, chart-version-check, values-schema-check

chore: update chart versions and enable additional services in values.yaml
  charts/truvami-monitoring/Chart.yaml
  charts/truvami-monitoring/README.md
  charts/truvami-stack/Chart.yaml
  charts/truvami-stack/README.md
  charts/truvami-stack/values.yaml
Due: helm-lint, chart-version-check, values-schema-check

chore(release): update changelog for v1.0.1-rc15
  CHANGELOG.md
Due: none

feat: update Helm chart to version 0.1.3 and enhance secret management for Better Auth and Keycloak
  charts/truvami-docs/Chart.yaml
  charts/truvami-docs/README.md
  charts/truvami-docs/templates/deployment.yaml
  charts/truvami-docs/templates/migration.yaml
  charts/truvami-docs/templates/secret.yaml
  charts/truvami-docs/values.yaml
Due: helm-lint, chart-version-check, values-schema-check

feat: bump chart version to 0.1.216 and update truvami-docs dependency to 0.1.3
  charts/truvami-stack/Chart.yaml
  charts/truvami-stack/README.md
Due: helm-lint, chart-version-check

chore(release): update changelog for v1.0.1-rc16
  CHANGELOG.md
Due: none

feat: update truvami-dashboard to version 1.0.10 and enhance secret management for Better Auth and Keycloak
  charts/truvami-dashboard/Chart.yaml
  charts/truvami-dashboard/README.md
  charts/truvami-dashboard/templates/deployment.yaml
  charts/truvami-dashboard/templates/secret.yaml
  charts/truvami-dashboard/values.yaml
  charts/truvami-stack/Chart.yaml
  charts/truvami-stack/README.md
Due: helm-lint, chart-version-check, values-schema-check

chore(release): update changelog for v1.0.1-rc17
  CHANGELOG.md
Due: none

feat: bump truvami-dashboard version to 1.0.11 and update truvami-stack to use the new version
  charts/truvami-dashboard/Chart.yaml
  charts/truvami-dashboard/README.md
  charts/truvami-dashboard/templates/migration.yaml
  charts/truvami-stack/Chart.yaml
  charts/truvami-stack/README.md
Due: helm-lint, chart-version-check

chore(release): update changelog for v1.0.1-rc18
  CHANGELOG.md
Due: none

chore: update chart versions and add cluster configuration for Kafka resources
  charts/truvami-bridge/Chart.yaml
  charts/truvami-bridge/README.md
  charts/truvami-bridge/templates/kafka-user.yaml
  charts/truvami-bridge/values.yaml
  charts/truvami-gateway/Chart.yaml
  charts/truvami-gateway/README.md
  charts/truvami-gateway/values.yaml
  charts/truvami-siren/Chart.yaml
  charts/truvami-siren/README.md
  charts/truvami-siren/templates/kafka-user.yaml
  charts/truvami-siren/values.yaml
  charts/truvami-stack/Chart.yaml
  charts/truvami-stack/README.md
Due: helm-lint, chart-version-check, values-schema-check

chore(release): update changelog for v1.0.1-rc19
  CHANGELOG.md
Due: none

fix: update KAFKA_GROUP_ID environment variable to remove quotes around value
  charts/truvami-siren/templates/statefulset.yaml
Due: helm-lint

chore: bump truvami-siren version to 0.2.9 and update truvami-stack to use the new version
  charts/truvami-siren/Chart.yaml
  charts/truvami-siren/README.md
  charts/truvami-stack/Chart.yaml
  charts/truvami-stack/README.md
Due: helm-lint, chart-version-check

chore(release): update changelog for v1.0.1-rc20
  CHANGELOG.md
Due: none

fix: update KafkaUser resource name to match release name
  charts/truvami-siren/templates/kafka-user.yaml
Due: helm-lint

fix: bump truvami-siren and truvami-stack chart versions to 0.2.10 and 0.1.221 respectively
  charts/truvami-siren/Chart.yaml
  charts/truvami-siren/README.md
  charts/truvami-stack/Chart.yaml
  charts/truvami-stack/README.md
Due: helm-lint, chart-version-check

chore(release): update changelog for v1.0.1-rc21
  CHANGELOG.md
Due: none

fix: update device dashboard layout and replace alerts pie chart with service logs panel
  dashboards/lib/truvami.libsonnet
  dashboards/src/devices-dashboard.jsonnet
Due: none

Path conditions:
  helm-lint: any of: charts/.*\.(yaml|yml|tpl)$
  chart-version-check: any of: charts/.*/Chart\.yaml$
  values-schema-check: any of: charts/.*/values\.yaml$
