Repository truvami/helm: changes, and which pre-commit hooks are due for each by the changed paths.
All: helm-lint, chart-version-check, values-schema-check

helm-lint:
  name: Helm Lint
  entry: scripts/hooks/helm-lint.sh
  language: script
  pass_filenames: false

chart-version-check:
  name: Chart Version Check
  entry: scripts/hooks/version-check.sh
  language: script

values-schema-check:
  name: Values Schema Check
  entry: scripts/hooks/values-check.sh
  language: script

feat: Add Helm chart for truvami-rmx application
  charts/truvami-rmx/Chart.yaml
  charts/truvami-rmx/README.md
  charts/truvami-rmx/templates/NOTES.txt
  charts/truvami-rmx/templates/_helpers.tpl
  charts/truvami-rmx/templates/configmap.yaml
  charts/truvami-rmx/templates/deployment.yaml
  charts/truvami-rmx/templates/hpa.yaml
  charts/truvami-rmx/templates/ingress.yaml
  charts/truvami-rmx/templates/migration.yaml
  charts/truvami-rmx/templates/pdb.yaml
  charts/truvami-rmx/templates/postgres-pooler.yaml
  charts/truvami-rmx/templates/postgres.yaml
  charts/truvami-rmx/templates/secret.yaml
  charts/truvami-rmx/templates/service.yaml
  charts/truvami-rmx/templates/serviceaccount.yaml
  charts/truvami-rmx/templates/tests/test-connection.yaml
  charts/truvami-rmx/tests/deployment_test.yaml
  charts/truvami-rmx/tests/service_test.yaml
  charts/truvami-rmx/values.schema.json
  charts/truvami-rmx/values.yaml
Due: helm-lint, chart-version-check, values-schema-check

Update index.yaml
  index.yaml
Due: none

docs: update CHANGELOG.md [skip ci]
  CHANGELOG.md
Due: none

fix(hooks): honor pre-commit filenames in values-check & avoid set -e abort
  scripts/hooks/values-check.sh
Due: none

fix(monitoring): add configurable Thanos sidecar resources
  CHANGELOG.md
  charts/truvami-monitoring/Chart.yaml
  charts/truvami-monitoring/README.md
  charts/truvami-monitoring/templates/prometheus.yaml
  charts/truvami-monitoring/values.yaml
Due: helm-lint, chart-version-check, values-schema-check

chore(stack): bump truvami-monitoring dependency to 0.3.2
  charts/truvami-stack/Chart.lock
  charts/truvami-stack/Chart.yaml
  charts/truvami-stack/README.md
Due: helm-lint, chart-version-check

feat(siren): add new grpc port
  charts/truvami-siren/Chart.yaml
  charts/truvami-siren/README.md
  charts/truvami-siren/templates/service.yaml
  charts/truvami-siren/templates/statefulset.yaml
  charts/truvami-siren/values.yaml
  charts/truvami-stack/Chart.yaml
  charts/truvami-stack/README.md
Due: helm-lint, chart-version-check, values-schema-check

chore: bump truvami-gateway version to 0.0.38 and update Kafka topic configurations
  charts/truvami-gateway/Chart.yaml
  charts/truvami-gateway/README.md
  charts/truvami-gateway/templates/kafka-user.yaml
  charts/truvami-gateway/values.yaml
  charts/truvami-stack/Chart.yaml
  charts/truvami-stack/README.md
Due: helm-lint, chart-version-check, values-schema-check

chore: bump truvami-gateway version to 0.0.39 and update related environment variable names
  charts/truvami-gateway/Chart.yaml
  charts/truvami-gateway/README.md
  charts/truvami-gateway/templates/deployment.yaml
  charts/truvami-stack/Chart.yaml
  charts/truvami-stack/README.md
Due: helm-lint, chart-version-check

chore: bump truvami-gateway version to 0.0.40 and update Kafka topic name
  charts/truvami-gateway/Chart.yaml
  charts/truvami-gateway/README.md
  charts/truvami-gateway/templates/kafka-user.yaml
  charts/truvami-gateway/values.yaml
  charts/truvami-stack/Chart.yaml
  charts/truvami-stack/README.md
Due: helm-lint, chart-version-check, values-schema-check

chore: bump truvami-bridge and truvami-stack versions to 0.1.42 and 0.1.253 respectively; update Kafka topic configurations
  charts/truvami-bridge/Chart.yaml
  charts/truvami-bridge/README.md
  charts/truvami-bridge/templates/kafka-user.yaml
  charts/truvami-bridge/values.yaml
  charts/truvami-stack/Chart.yaml
  charts/truvami-stack/README.md
Due: helm-lint, chart-version-check, values-schema-check

chore: bump truvami-siren version to 0.6.0; update appVersion to v1.2.0 and remove set-env.sh script
  charts/truvami-siren/Chart.yaml
  charts/truvami-siren/README.md
  charts/truvami-siren/templates/configmap.yaml
  charts/truvami-siren/templates/statefulset.yaml
  charts/truvami-siren/values.yaml
  charts/truvami-stack/Chart.yaml
  charts/truvami-stack/README.md
Due: helm-lint, chart-version-check, values-schema-check

chore: bump truvami-siren version to 0.6.1 and truvami-stack version to 0.1.255
  charts/truvami-siren/Chart.yaml
  charts/truvami-siren/README.md
  charts/truvami-stack/Chart.yaml
  charts/truvami-stack/README.md
Due: helm-lint, chart-version-check

ci: migrate GitHub Pages to Actions-based deployment
  .github/workflows/release.yml
Due: none

feat(truvami-api): tune database pooling for PgBouncer transaction mode
  charts/truvami-api/Chart.yaml
  charts/truvami-api/README.md
  charts/truvami-api/templates/migration.yaml
  charts/truvami-api/values.yaml
  charts/truvami-stack/Chart.lock
  charts/truvami-stack/Chart.yaml
  charts/truvami-stack/README.md
Due: helm-lint, chart-version-check, values-schema-check

chore: bump truvami-bridge version to 0.1.43 and update related references
  charts/truvami-bridge/Chart.yaml
  charts/truvami-bridge/README.md
  charts/truvami-bridge/templates/deployment.yaml
  charts/truvami-stack/Chart.lock
  charts/truvami-stack/Chart.yaml
Due: helm-lint, chart-version-check

fix: harden Thanos monitoring stack after 2026-07 prod outage
  charts/truvami-bridge/Chart.yaml
  charts/truvami-bridge/README.md
  charts/truvami-bridge/templates/servicemonitor.yaml
  charts/truvami-bridge/values.yaml
  charts/truvami-monitoring/Chart.yaml
  charts/truvami-monitoring/README.md
  charts/truvami-monitoring/templates/prometheus.yaml
  charts/truvami-monitoring/templates/rule-thanos.yaml
  charts/truvami-monitoring/templates/thanos-compactor.yaml
  charts/truvami-monitoring/templates/thanos-querier.yaml
  charts/truvami-monitoring/templates/thanos-servicemonitors.yaml
  charts/truvami-monitoring/templates/thanos-store-gateway.yaml
  charts/truvami-monitoring/values.yaml
  charts/truvami-stack/Chart.lock
  charts/truvami-stack/Chart.yaml
  charts/truvami-stack/README.md
Due: helm-lint, chart-version-check, values-schema-check

Path conditions:
  helm-lint: any of: charts/.*\.(yaml|yml|tpl)$
  chart-version-check: any of: charts/.*/Chart\.yaml$
  values-schema-check: any of: charts/.*/values\.yaml$
